<div class="session-actions {{className}}">
  {{#if user}}
  <label for="user-avatar" class="session-actions__user-name">{{user.name}}</label>
  <button id="user-avatar" class="session-actions__avatar">
    <img src="{{user.avatar}}" class="session-actions__avatar-image">
  </button>

  {{else if authPrompt}}
  <span class="session-actions__prompt">{{authPrompt.prompt}}</span>
  <a href="{{authPrompt.href}}" class="session-actions__action" data-link>
    {{authPrompt.buttonText}}
  </a>

  {{else}}
  <a href="/sign-up" class="session-actions__sign-up" data-link>Зарегистрироваться</a>
  <a class="session-actions__log-in" href="/login" data-link>Войти</a>

  {{/if}}
</div>
