<div class="session-actions {{className}}">
  {{#if user}}
  <label for="user-avatar" class="session-actions__user-name">{{user.nickname}}</label>
  <button id="user-avatar" class="session-actions__avatar js-session-toggle">
    {{#if user.avatar}}
    <img src="{{user.avatar}}" class="session-actions__avatar-image">
    {{else}}
    <img src="/icons/avatar.svg" class="session-actions__avatar-image session-actions__avatar-image--default">
    {{/if}}
  </button>

  {{else if authPrompt}}
  <span class="session-actions__prompt">{{authPrompt.prompt}}</span>
  <a href="{{authPrompt.href}}" class="session-actions__action" data-link>
    {{authPrompt.buttonText}}
  </a>

  {{else}}
  <a href="/sign-up" class="session-actions__sign-up" data-link>Зарегистрироваться</a>
  <a class="session-actions__log-in" href="/login" data-link>Войти</a>

  {{/if}}

  <div data-slot="user-menu"></div>
</div>
