<article class="{{s 'card'}}" data-href="{{url '/attraction' place.id}}">
  <div class="{{s 'card__image-wrapper'}}">
    <img src="{{place.image}}" class="{{s 'card__image'}}">
  </div>

  <div class="{{s 'card__content'}}">
    <h5 class="{{s 'card__title'}}">{{place.name}}</h5>
    <span class="{{s 'card__country'}}">{{place.country}}</span>
  </div>
</article>
