<div data-slot="header"></div>

<main class="{{s 'main'}}">
  <section class="{{s 'attraction-meta'}}">
    <h1 class="{{s 'attraction-meta__name'}}">{{place.name}}</h1>
    <div class="{{s 'attraction-meta__rating'}}">
      <h3 class="{{s 'attraction-meta__rating-value'}}" style="--rating: {{place.rating}}" data-ref="rating">{{place.rating}}</h3>
      <span class="{{s 'attraction-meta__review-count'}}" data-ref="review-count">{{reviewCountText}}</span>
    </div>
    <div data-slot="like-button"></div>
  </section>

  <div data-slot="gallery"></div>

  <section class="{{s 'reviews'}}">
    <div class="{{s 'reviews__header'}}">
      <h2 class="{{s 'reviews__title'}}">Отзывы</h2>
      {{#if isAuth}}
      <button class="{{s 'reviews__write-review'}}" command="show-modal" commandfor="{{writeReviewDialogId}}">
        Написать отзыв
      </button>
      {{/if}}
    </div>
    <div data-slot="review-list"></div>
  </section>

  <div data-slot="working-hours"></div>

  <div class="{{s 'map-wrapper'}}">
  <div data-slot="map-widget"></div>
</div>

</main>

<div data-slot="write-review-dialog"></div>
<div data-slot="review-details-modal"></div>
