<div data-slot="header"></div>

<main class="{{s 'main'}}">
  <div class="{{s 'query'}}">
    <button class="{{s 'query__button'}}" data-ref="filters-toggle">Фильтры</button>
    <div data-slot="query" class="{{s 'query__field'}}"></div>
  </div>
  <ul class="{{s 'filters'}}">
    <li class="{{s 'filters__item'}}"><button class="{{s 'filters__button'}}">Места</button></li>
    <li class="{{s 'filters__item'}}"><button class="{{s 'filters__button'}}">Отели</button></li>
    <li class="{{s 'filters__item'}}"><button class="{{s 'filters__button'}}">Рестораны</button></li>
  </ul>

  <aside class="{{s 'aside'}}">
    <div class="{{s 'categories'}}" data-ref="category-accordion">
      <div class="{{s 'categories__summary'}}">
        <div class="{{s 'categories__header'}}" data-ref="category-toggle">
          <h3 class="{{s 'categories__title'}}">Категории</h3>
          <img src="/icons/arrow-down.svg" class="{{s 'categories__marker'}}">
        </div>

        <ul class="{{s 'categories__base'}}" data-ref="categories-list">
        </ul>
      </div>

      <div class="{{s 'categories__extended-wrapper'}}" data-ref="extended-wrapper">
        <ul class="{{s 'categories__extended'}}" data-ref="categories-extended-list">
        </ul>
      </div>
    </div>
  </aside>

  <div data-slot="place-list" class="{{s 'place-list'}}"></div>
</main>
