<div class="{{s 'sidebar'}}">
  <h2 class="{{s 'sidebar__header'}}">Категории</h2>
  <ul class="{{s 'sidebar__list'}}" data-ref="category-list"></ul>
  <button type="button" class="{{s 'sidebar__tab'}}" data-ref="open-toggle">
    <img src="/icons/arrow-down.svg" class="{{s 'sidebar__tab-img'}}">
  </button>
</div>
