<div class="field {{className}}">
  {{#if label}}
  <label class="field__label" for="{{id}}">{{label}}</label>
  {{/if}}

  <div class="field__input-wrapper">
    {{#if leftIcon}}
    <button type="button" class="field__icon" data-position="left">
      <img src="{{leftIcon}}" class="field__icon-image" data-position="left">
    </button>
    {{/if}}

    <input type="{{type}}" id="{{id}}" class="field__input" {{#each attributes}} {{@key}}="{{this}}"
      {{/each}}>

    {{#if rightIcon}}
    <button type="button" class="field__icon" data-position="right">
      <img src="{{rightIcon}}" class="field__icon-image" data-position="right">
    </button>
    {{/if}}
  </div>

  {{#if note}}
  <div class="field__note-wrapper">
    <span class="field__note">{{note}}</span>
  </div>
  {{/if}}

  <div class="field__error-wrapper">
    <span class="field__message-icon-box"><img src="/icons/alert-error.svg"></span>
    <span class="field__message"></span>
  </div>
</div>
