<article class="card" data-id="{{place.id}}">
  <div class="card__image-wrapper">
    <div data-slot="action" class="card__action"></div>
    <a href="{{url '/attraction' place.id}}" class="card__redirect" data-link><img src="{{place.image}}" class="card__image"></a>
  </div>
  <article class="card__content">
    <h6 class="card__subtitle">{{place.location}}, {{place.country}}</h6>
    <h5 class="card__title">{{place.name}}</h5>
    <h4 class="card__description">от {{place.price}} ₽</h4>
  </article>
</article>
