<button class="user-profile {{className}}">
  <span class="user-profile__nickname">{{user.nickname}}</span>

  {{#if user.avatar}}
  <img src="{{user.avatar}}" class="user-profile__avatar" alt="{{user.nickname}}">
  {{else}}
  <img src="/icons/avatar.svg" class="user-profile__avatar user-profile__avatar--default">
  {{/if}}
</button>
