<div class="{{s 'user-session'}} {{className}}">
  {{#if user}}
  <button class="{{s 'user-profile'}}" command="show-modal" commandfor="user-menu">
    <span class="{{s 'user-profile__nickname'}}">{{user.nickname}}</span>

    {{#if user.avatar}}
    <img src="{{user.avatar}}" class="{{s 'user-profile__avatar'}}" alt="{{user.nickname}}">
    {{else}}
    <img src="/icons/avatar.svg" class="{{s 'user-profile__avatar'}} {{s 'user-profile__avatar--default'}}">
    {{/if}}

    <div data-slot="user-menu"></div>
  </button>
  {{else if authPrompt}}
  <div class="{{s 'auth-prompt'}}">
    <a href="{{authPrompt.href}}" class="{{s 'auth-prompt__prompt'}}" data-link>{{authPrompt.prompt}}</a>
    <a href="{{authPrompt.href}}" class="{{s 'auth-prompt__link'}}" data-link>{{authPrompt.buttonText}}</a>
  </div>
  {{else}}
  <div class="{{s 'auth-links'}}">
    <a href="/sign-up" class="{{s 'auth-links__sign-up'}}" data-link>Зарегистрироваться</a>
    <a href="/login" class="{{s 'auth-links__log-in'}}" data-link>Войти</a>
  </div>
  {{/if}}
</div>
