<article class="{{s 'card'}}" data-id="{{review.id}}">
  <div class="{{s 'card__meta'}}">
    <h5 class="{{s 'card__author'}}">{{review.author.nickname}}</h5>
    <time class="{{s 'card__created-at'}}" datetime="{{isoDate}}">{{date}}</time>
  </div>
  <p class="{{s 'card__content'}}">{{review.content}}</p>
  <div class="{{s 'card__footer'}}">
    <button class="{{s 'card__more'}}" data-details-button>Подробнее</button>
    <h4 class="{{s 'card__rating'}}" style="--rating: {{review.rating}}">{{review.rating}}</h4>
  </div>
</article>
