<div data-slot="header"></div>

<main class="{{s 'main'}}">
  <div data-slot="trip-banner"></div>

  <section class="{{s 'places'}}">
    <h3 class="places__header">Интересные места</h3>
    <div data-slot="place-list"></div>
  </section>

  <a href="{{url '/place-select' tripId}}" class="{{s 'add-place'}}" data-link>
    <img src="/icons/plus.svg" class="{{s 'add-place__image'}}">
    <h3 class="{{s 'add-place__text'}}">Добавим красок в ваше путешествие</h3>
  </a>

  
  <button class="{{s 'album-trigger'}}" data-ref="album-trigger" type="button">
    <img src="/icons/image.svg" alt="Альбом">
  </button>
</main>

<div data-slot="album-dialog"></div> 
<div data-slot="trip-options-dialog"></div>
