<div class="{{s 'accordion'}}">
  <div class="{{s 'accordion__summary'}}">
    <div class="{{s 'accordion__header'}}" data-ref="accordion-toggle">
      <h3 class="{{s 'accordion__title'}}">{{title}}</h3>
      <img src="/icons/arrow-down.svg" class="{{s 'accordion__marker'}}">
    </div>

    <ul class="{{s 'accordion__base'}}" data-ref="accordion-base"></ul>
  </div>

  <div class="{{s 'accordion__extended-wrapper'}}" data-ref="extended-wrapper">
    <ul class="{{s 'accordion__extended'}}" data-ref="accordion-extended"></ul>
  </div>
</div>
