<div data-slot="header"></div>

<main class="{{s 'main'}}">
  <div class="{{s 'page-header'}}">
    <a href="{{url '/trip' tripId}}" data-link><img src="/icons/arrow-left.svg" class="{{ s 'page-header__back-img'}}"></a>
    <div data-slot="filter" class="{{s 'page-header__filter'}}"></div>
  </div>

  <div data-slot="place-list"></div>
</main>
