<article class="{{s 'banner'}} {{className}}">
  {{#if trip.preview}}
  <img src="{{trip.preview}}" class="{{s 'banner__bg'}}">
  {{else}}
  <img src="/assets/trip-preview.jpg" class="{{s 'banner__bg'}}"></img>
  {{/if}}

  <div class="{{s 'banner__content'}}">
    <h2 class="{{s 'banner__title'}}">{{trip.title}}</h2>

    <div class="{{s 'banner__meta'}}">
      {{#if hasDates}}
      <div class="{{s 'banner__date-wrapper'}}">
        <time class="{{s 'banner__date-start'}}" datetime="{{isoStart}}">{{start}}</time> &ndash;
        <time class="{{s 'banner__date-end'}}" datetime="{{isoEnd}}">{{end}}</time>
      </div>
      {{/if}}
      <span class="{{s 'banner__location'}}">{{trip.location}}</span>
    </div>

  </div>

  <button class="{{s 'banner__delete'}}" data-delete-button>
    <img src="/icons/bin.svg" class="{{s 'banner__delete-img'}}">
  </button>
</article>
